 <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            <span *ngIf="authenticated" >Welcome,  {{authService.displayName}}</span>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h3>Expense Break</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            <li *ngIf="authenticated"><a (click)="logout.emit()" href="#">Logout</a></li>
        </div>
      </header>

<!--<header class="header">
    <h1>Expense Break</h1>
    <div style="float:right">
        <li *ngIf="authenticated"><a (click)="logout.emit()" href="#">Logout</a></li>
    </div>
</header>-->