<h1> Personal Expenses </h1>
<ul>
  <li *ngFor="let item of expenses | async">
    <input type="text" #updateName [value]="item.name" />
    <input type="text" #updateCategory [value]="item.category" />
    <input type="text" #updateDescription [value]="item.description" />
    <input type="datetime" #updateCreatedAt [value]="item.createdAt" />
    <button (click)="expenseService.updateExpense(item, { name: updateName.value, category: updateCategory.value, description: updateDescription.value, createdAt: updateCreatedAt.value })">Update</button>
    <button (click)="expenseService.removeExpense(item)">Delete</button>
  </li>
</ul>

<md-card class="demo-card demo-basic">
  <md-toolbar color="primary">Add new expense</md-toolbar>
  <md-card-content>
    <form>
 
      <table style="width: 100%" cellspacing="0"><tr>
        <td><md-input #expenseName placeholder="Expense name" aria-required="true" style="width: 100%"></md-input></td>
        <td><md-input #expenseCategory placeholder="Category" style="width: 100%"></md-input></td>
      </tr></table>
      <p>
        <md-input #expenseDescription class="demo-full-width" placeholder="Description" style="width: 100%"></md-input>        
      </p>
      <p>
        <md-input #expenseDate class="demo-full-width" placeholder="Expense date"></md-input>  
        </p>      
    </form>
  </md-card-content>
  <md-card-content>
    <button (click)="expenseService.createExpense(expenseName.value, expenseCategory.value, expenseDescription.value, expenseDate.value)" 
      md-raised-button color="primary">ADD</button>
  </md-card-content>
</md-card>