<div align="center">
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs="" flex-gt-xs="50" layout="column">
         <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Welcome to Expense Break</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>LOGIN</p>
        </md-card-content>
        <div layout="row" layout-align="center center">
        <md-card-content>
           <md-list>
            <md-list-item> <button color="primary"  md-raised-button (click)="authService.loginGoogle()">Login With Google</button> </md-list-item>
            <md-list-item> <button color="primary" md-raised-button (click)="authService.loginFacebook()">Login With Facebook</button> </md-list-item>
            <md-list-item> <button color="primary" md-raised-button (click)="authService.loginGithub()">Login With Github</button> </md-list-item>
          </md-list>
        </md-card-content>
        </div>
      </md-card>
    </div>
  </md-content>
</div>