<div align="center">
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs="" flex-gt-xs="50" layout="column">
         <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Welcome to Expense Break</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>Track Personal Expenses, sign in using your account with</p>
        </md-card-content>
        <div layout="row" layout-align="center center">
        <md-card-content layout="row" layout-align="start center">
          <button color="primary"  md-raised-button (click)="authService.loginGoogle()">Login With Google</button>
        </md-card-content>
        <md-card-content layout="row" layout-align="start center">
          <button color="primary" md-raised-button (click)="authService.loginFacebook()">Login With Facebook</button>        </md-card-content>
        <md-card-content layout="row" layout-align="start center">
           <button color="primary" md-raised-button (click)="authService.loginGithub()">Login With Github</button>
        </md-card-content>
        </div>
      </md-card>
    </div>
  </md-content>
</div>