<br />

<div align="center">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__supporting-text">
        LOGIN
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a  (click)="authService.loginGoogle()"  class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Login With Google
        </a>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a  (click)="authService.loginFacebook()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Login With Facebook
        </a>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a  (click)="authService.loginGithub()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Login With Github
        </a>
      </div>
    </div>
</div>
<a [routerLink]="['Expenses']">Check Expenses</a>